'use strict';

/**
 * Define Themes
 *
 * area: area, one of (frontend|adminhtml|doc),
 * name: theme name in format Vendor/theme-name,
 * files: [
 * 'css/styles-m',
 * 'css/styles-l'
 * ],
 *
 */
module.exports = {
    blank: {
        area: 'frontend',
        name: 'Magento/blank',
        files: [
            'css/styles-m',
            'css/styles-l',
            'css/email',
            'css/email-inline'
        ],
    }
};
